<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bbs.dao.ICategoryDao">
    <!--查找全部-->
    <select id="findAll" resultType="Category">
        SELECT * FROM category
    </select>

    <!--根据名字，查找ID-->
    <select id="findIdByName" parameterType="String" resultType="Integer">
        SELECT id FROM category
        WHERE name=#{name}
    </select>

    <!--添加分类-->
    <insert id="insertCategory" parameterType="Category">
        INSERT INTO category(name)
        VALUE(#{name})
    </insert>

    <!--删除分类-->
    <delete id="deleteById" parameterType="Integer">
        DELETE FROM category
        WHERE id = #{id}
    </delete>

    <!--修改分类名-->
    <update id="updateNameById" parameterType="Category">
        UPDATE category
        SET name = #{name}
        WHERE id = #{id}
    </update>
</mapper>