<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bbs.dao.IConsumerDao">
    <!--检查用户名是否重复-->
    <select id="checkUsername" parameterType="String" resultType="Integer">
        SELECT COUNT(*) FROM consumer
        WHERE username = #{username}
    </select>

    <!--注册用户信息-->
    <insert id="insertConsumer" parameterType="Consumer">
        INSERT INTO consumer(username,password,email,headImage)
        VALUE(#{username},#{password},#{email},#{headImage})
    </insert>

    <!--验证用户的名字与密码-->
    <select id="findByUsernameAndPassword" parameterType="Consumer" resultType="Consumer">
        SELECT * FROM consumer
        WHERE username=#{username}
        AND password=#{password}
    </select>

    <!--修改用户信息-->
    <update id="updateInfo" parameterType="Consumer">
        UPDATE consumer
        <set>
            <if test="city != null and city.length() > 0">city = #{city},</if>
            <if test="gender != null and city.length() > 0">gender = #{gender},</if>
            <if test="career != null and career.length() > 0">career = #{career},</if>
            <if test="note != null and city.length() > 0">note = #{note},</if>
        </set>
        WHERE id = #{id}
    </update>

    <!--修改密码-->
    <update id="updatePassword" parameterType="Consumer">
        UPDATE consumer
        SET password= #{password}
        WHERE id = #{id}
    </update>

    <!--根据id，查询基本信息-->
    <select id="findBasicInfoById" parameterType="Integer" resultType="Consumer">
        SELECT id,username,city,note,headImage FROM consumer
        WHERE id = #{id}
    </select>


</mapper>