<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <package name="com.bbs.entity" />
    </typeAliases>
    <mappers>
        <mapper resource="com/bbs/dao/mapper/ConsumerMapper.xml" />
        <mapper resource="com/bbs/dao/mapper/CategoryMapper.xml" />
        <mapper resource="com/bbs/dao/mapper/PostMapper.xml" />
        <mapper resource="com/bbs/dao/mapper/PostbodyMapper.xml" />
        <mapper resource="com/bbs/dao/mapper/AttentionMapper.xml" />
        <mapper resource="com/bbs/dao/mapper/PrivateMessageMapper.xml" />
    </mappers>
</configuration>